{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
    Home
{% endblock %}


{% block jumbo_bg_path %}
{% static "Images/deskStuff.jpg" %}
{% endblock %}

{#Nav bar stuff#}


{#Header stuff#}
{% block header_quote %}
    -     -     -
{% endblock %}




{% block header_quote_style %}
    font-family: 'Nothing You Could Do', cursive;
{% endblock %}


{% block title %}
    Hi, I'm Cody Helbling
{% endblock %}


{% block title_style %}
    font-family: 'Open Sans', sans-serif; font-weight: 700;
{% endblock %}


{% block page_details %}
    Each block represents <bold>project</bold> or software development <bold>milestone</bold>.
{% endblock %}


{% block page_details_style %}
     background-color: #eee; padding-top: 130px; padding-bottom: 130px; font-family: 'Glegoo', serif;
{% endblock %}


{% block page_content %}

{% endblock %}


{% block page_content_style %}
     background-color: #FFFFFF; padding-top: 200px; padding-bottom: 100px;
{% endblock %}