{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
    Resume
{% endblock %}

{% block jumbo_bg_path %}
{% static "Images/deskStuff.jpg" %}
{% endblock %}

{#Nav bar stuff#}


{#Header stuff#}
{% block header_quote %}
{#    Milestones ...#}
{% endblock %}


{% block header_quote_style %}
    font-family: 'Nothing You Could Do', cursive;
{% endblock %}


{% block title %}
    My Resume
{% endblock %}


{% block download_resume %}
    <div class="container" style="padding-top: 2%;">
    <div class="row ">
        <div class="col-sm-offset-4 col-sm-4">
            <a href="/resume/download">
                <div class="download-box centerBlock fade-in">
                    Download a Copy
                </div>
            </a>
        </div>
    </div>
    </div>

{% endblock %}

{% block title_style %}
    font-family: 'Open Sans', sans-serif; font-weight: 700;
{% endblock %}


{% block page_details %}
{#    Each block represents project or software development milestone.#}
{% endblock %}


{% block page_details_style %}
{#     background-color: #eee; padding-top: 130px; padding-bottom: 130px; font-family: 'Glegoo', serif;#}
{% endblock %}


{% block page_content %}
    <div class="container" style="font-family: 'Open Sans', sans-serif;">
        <div class="row">
            <div class="col-sm-2 text-center" style="padding-top: 42px;">
                <h3>Technologies</h3>
            </div>
            <div class="col-sm-5" style="padding-top: 60px;">
                <h4 class="text-center" style="padding-bottom: 1%;">Day-To-Day Comfort</h4>
                {% for language in languages %}
                    {% if language.dayToDayComfort %}
                        <div class="row skills_list" style="padding-left:35%;">
                            <h5>&#8226 &#160;&#160;&#160;&#160;&#160;&#160;&#160; {{ language.name }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for tool in dev_tools %}
                    {% if tool.dayToDayComfort %}
                        <div class="row skills_list" style="padding-left:35%;">
                            <h5>&#8226 &#160;&#160;&#160;&#160;&#160;&#160;&#160; {{ tool.name }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-5" style="padding-top: 60px;">
                <h4 class="text-center" style="padding-bottom: 1%;">Experience With</h4>
                {% for language in languages %}
                    {% if not language.dayToDayComfort %}
                        <div class="row skills_list" style="padding-left:39%;">
                            <h5>&#8226 &#160;&#160;&#160;&#160;&#160;&#160;&#160; {{ language.name }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for tool in dev_tools%}
                    {% if not tool.dayToDayComfort %}
                        <div class="row skills_list" style="padding-left:39%;">
                            <h5>&#8226 &#160;&#160;&#160;&#160;&#160;&#160;&#160; {{ tool.name }}</h5>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="padding-top:20px; padding-bottom:20px;">
        <hr>
    </div>

    <div class="container" style="font-family: 'Open Sans', sans-serif;">
        <div class="row">
            <div class="col-sm-3">
                <h3>Work Experience</h3>
            </div>
            <div class="col-sm-9" style="padding-top:17px; padding-left:5%;">
                    <h4>Software Development Intern</h4>
                    <h5>Decagon Devices, Pullman WA, May 2015 - Oct 2015, May 2016 - Present</h5>
                    {% for experience in decagon_experience %}
                        <div class="row " style="padding-left:2%;">
                            <div class="col-sm-1 text-center">
                                <h5>&#8226</h5>
                            </div>
                            <div class="col-sm-11">
                                <h5>{{ experience.name }}</h5>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    <div style="padding-top:20px; padding-bottom:20px;">
        <hr>
    </div>

    <div class="container" style="font-family: 'Open Sans', sans-serif;">
        <div class="row">
            <div class="col-sm-3">
                <h3>Education</h3>
            </div>
            <div class="col-sm-9" style="padding-top:17px; padding-left:5%;">
                    <h4>BS in Computer Science, Minor in Mathematics</h4>
                    <h6>University of Idaho, Moscow, ID, Sept. 2013 - Dec. 2016</h6>

            </div>
        </div>
    </div>

    <div style="padding-top:20px; padding-bottom:20px;">
        <hr>
    </div>
{% endblock %}


{% block page_content_style %}
     background-color: #FFFFFF; padding-top: 200px; padding-bottom: 100px;
{% endblock %}